<link rel="stylesheet" href="./scss/about.scss" />

<section class="about container">
  <h2>About</h2>
  <div class="about__content">
    <div class="about_img">
      <div class="about_img_item">
        <picture>
          <source
            srcset="./img/abtus/dsktp/aboutpicsdsktp.png"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./img/abtus/mob/abt1pic.png"
            media="(min-width: 320px)"
          />
          <img src="./img/abtus/mob/abt1pic.png" alt="About 1" />
        </picture>
        <p>
          Super Pug Story is an exciting adventure game that follows the journey
          of a brave pug hero through a world filled with puzzles, hidden
          treasures, and heartwarming moments.
        </p>
      </div>
      <div class="about_img_item">
        <picture>
          <source
            srcset="./img/abtus/dsktp/abt2pic.png"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./img/abtus/mob/abt2pic.png"
            media="(min-width: 320px)"
          />
          <img src="./img/abtus/mob/abt2pic.png" alt="About 2" />
        </picture>
        <p>
          Perfect for players of all ages, the game blends adventure,
          puzzle-solving, and storytelling in a delightful way, offering an
          unforgettable experience that will keep you coming back for more.
        </p>
      </div>
    </div>
  </div>

  <div class="about__content_bottom">
    <div class="about__content_img_bottom">
      <picture>
        <source
          srcset="./img/abtus/dsktp/abt3pic1.png"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./img/abtus/mob/mobaboutpics.png"
          media="(min-width: 320px)"
        />
        <img src="./img/abtus/mob/mobaboutpics.png" alt="About 3" />
      </picture>
      <p class="about__content_img_bottom_text">
        Players solve clever puzzles, uncover secrets, and progress through an
        engaging storyline.
      </p>
      <picture>
        <source
          srcset="./img/abtus/dsktp/abt3pic2.png"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./img/abtus/mob/abt3pic2.png"
          media="(min-width: 320px)"
        />
        <img src="./img/abtus/mob/abt3pic2.png" alt="About 4" />
      </picture>
    </div>
  </div>
</section>
