<link rel="stylesheet" href="../scss/advantages.scss" />


<section class="advantages container" id="advantages">
  <h2>Advantages</h2>

  <div class="slider-container">
    <div id="slider">
      <input type="radio" name="slider" id="s1" />
      <input type="radio" name="slider" id="s2" />
      <input type="radio" name="slider" id="s3" checked />
      <input type="radio" name="slider" id="s4" />
      <input type="radio" name="slider" id="s5" />

      <label for="s1" id="slide1">
        <picture class="slide-img">
          <source
            srcset="./img/advantagespics/mobadvs/world1.png"
            media="(min-width: 320px)"
          />
          <source
            srcset="./img/advantagespics/mobadvs/worlddesk1.png"
            media="(min-width: 1200px)"
          />
          <img src="./img/advantagespics/mobadvs/world1.png" alt="Image 1" />
        </picture>
      </label>

      <label for="s2" id="slide2">
        <picture class="slide-img">
          <source
            srcset="./img/advantagespics/mobadvs/world2.png"
            media="(min-width: 320px)"
          />
          <source
            srcset="./img/advantagespics/mobadvs/worlddesk2.png"
            media="(min-width: 1200px)"
          />
          <source srcset="./img/advantagespics/mobadvs/world2.png" />
          <img src="./img/advantagespics/mobadvs/world2.png" alt="Image 2" />
        </picture>
      </label>

      <label for="s3" id="slide3">
        <picture class="slide-img">
          <source
            srcset="./img/advantagespics/mobadvs/world3.png"
            media="(min-width: 320px)"
          />
          <source
            srcset="./img/advantagespics/mobadvs/worlddesk3.png"
            media="(min-width: 1200px)"
          />
          <img src="./img/advantagespics/mobadvs/world3.png" alt="Image 3" />
        </picture>
      </label>

      <label for="s4" id="slide4">
        <picture class="slide-img">
          <source
            srcset="./img/advantagespics/mobadvs/world4.png"
            media="(min-width: 320px)"
          />
          <source
            srcset="./img/advantagespics/mobadvs/worlddesk4.png"
            media="(min-width: 1200px)"
          />
          <img src="./img/advantagespics/mobadvs/world4.png" alt="Image 4" />
        </picture>
      </label>

      <label for="s5" id="slide5">
        <picture class="slide-img">
          <source
            srcset="./img/advantagespics/mobadvs/world5.png"
            media="(min-width: 320px)"
          />
          <source
            srcset="./img/advantagespics/mobadvs/worlddesk5.png"
            media="(min-width: 1200px)"
          />
          <img src="./img/advantagespics/mobadvs/world5.png" alt="Image 5" />
        </picture>
      </label>
    </div>
  </div>

  

  <div class="advantages-controls">
    <div class="swiper-button-advantages-prev">
      <img
        src="./img/gallerypics/arrowleft.png"
        alt="arrow-left"
        class="arrow-default"
      />
      <img
        src="./img/gallerypics/arrowleftgreen.png"
        alt="arrow-left"
        class="arrow-hover"
      />
    </div>

    <!-- Добавляем точки пагинации -->
    <div class="slider-dots">
      <div class="dot" data-index="0"></div>
      <div class="dot" data-index="1"></div>
      <div class="dot" data-index="2"></div>
      <div class="dot" data-index="3"></div>
      <div class="dot" data-index="4"></div>
    </div>

    <div class="swiper-button-advantages-next">
      <img
        src="./img/gallerypics/arrowright.png"
        alt="arrow-right"
        class="arrow-default"
      />
      <img
        src="./img/gallerypics/arrowrightпgreen.png"
        alt="arrow-right"
        class="arrow-hover"
      />
    </div>
  </div>

  <div class="text-slider-container">
    <div class="slide-text">
      <h3>Immersive World</h3>
      <p>
        Step into a colorful and vibrant world filled with exciting challenges and hidden secrets. Explore diverse environments as you embark on a heroic adventure with your pug, discovering new locations and treasures.
      </p>
    </div>
    <div class="slide-text">
      <h3>Fun Puzzles</h3>
      <p>
        Engage with clever puzzles that challenge your wit and creativity. Solve them to progress in the story, earning rewards and unlocking new stages. 
      </p>
    </div>
    <div class="slide-text">
      <h3>Heartwarming Story</h3>
      <p>Experience a charming and engaging storyline that follows your pug’s journey through thrilling adventures. Every twist and turn will keep you hooked as you uncover new layers of the story.</p>
    </div>
    <div class="slide-text">
      <h3>Interactive Gameplay</h3>
      <p>Enjoy dynamic interactions with the game world. 
Click, swipe, and solve puzzles to unlock hidden treasures and secrets as you journey through the game. </p>
    </div>
    <div class="slide-text">
      <h3>Daily Challenges</h3>
      <p>Complete daily quests to earn exclusive rewards, bonuses, and unlock special content that keeps the adventure fresh every day.</p>



      

    </div>
  </div>

  <script type="module" src="./js/advantages.js"></script>
</section>
