<footer class="footer">
  <div class="container">
    <div class="footer-wraper">
      <a
        href="https://play.google.com/store/apps/details?id=com.bluembo.superpug"
        target="_blank"
        ><img class="footer-google" src="./img/mobile/dsk/google.png"
      /></a>
      <div class="text-wrap">
        <p class="footer-text">All rights reserved prohubgreat.com | 2024</p>
        <div class="terms-text">
          <a class="privacy" href="./privacy.html">Privacy Policy</a>
          <a class="privacy" href="./terms.html">Terms and Conditions</a>
        </div>
      </div>
    </div>
  </div>
</footer>
