<section class="gallery">
  <div class="container">
    <div class="gallery-bg">
      <div class="gallery-container">
        <h2>Gallery</h2>
        <div class="swiper gallery-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./img/gallerypics/galpics_upd/mob1.png"
                  width="182px"
                  media="(min-width: 320px)"
                />
                <source
                  srcset="./img/gallerypics/galpics_upd/1desk.png"
                  media="(min-width: 1200px)"
                />
                <img
                  src="./img/gallerypics/galpics_upd/mob1.png"
                  alt="Image 1"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./img/gallerypics/galpics_upd/mob2.png"
                  width="182px"
                  media="(min-width: 320px)"
                />
                <source
                  srcset="./img/gallerypics/galpics_upd/2desk.png"
                  media="(min-width: 1200px)"
                />
                <img
                  src="./img/gallerypics/galpics_upd/mob2.png"
                  alt="Image 2"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./img/gallerypics/galpics_upd/mob3.png"
                  width="182px"
                  media="(min-width: 320px)" />
                <source
                  srcset="./img/gallerypics/galpics_upd/desk3.png"
                  media="(min-width: 1200px)" />
                <img src="./img/gallerypics/galpics_upd/mob3.png" alt="Image 3"
              /></picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./img/gallerypics/galpics_upd/mob4.png"
                  width="182px"
                  media="(min-width: 320px)" />
                <source
                  srcset="./img/gallerypics/galpics_upd/desk4.png"
                  media="(min-width: 1200px)" />
                <img src="./img/gallerypics/galpics_upd/mob4.png" alt="Image 4"
              /></picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./img/gallerypics/galpics_upd/mob5.png"
                  width="182px"
                  media="(min-width: 320px)"
                />
                <source
                  srcset="./img/gallerypics/galpics_upd/desk5.png"
                  media="(min-width: 1200px)"
                />
                <img
                  src="./img/gallerypics/galpics_upd/mob5.png"
                  alt="Image 5"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./img/gallerypics/galpics_upd/mob6.png"
                  width="182px"
                  media="(min-width: 320px)"
                />
                <source
                  srcset="./img/gallerypics/galpics_upd/desk6.png"
                  media="(min-width: 1200px)"
                />
                <img
                  src="./img/gallerypics/galpics_upd/mob6.png"
                  alt="Image 6"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./img/gallerypics/galpics_upd/mob7.png"
                  width="182px"
                  media="(min-width: 320px)"
                />
                <source
                  srcset="./img/gallerypics/galpics_upd/desk7.png"
                  media="(min-width: 1200px)"
                />
                <img
                  src="./img/gallerypics/galpics_upd/mob7.png"
                  alt="Image 7"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./img/gallerypics/galpics_upd/mob8.png"
                  width="182px"
                  media="(min-width: 320px)"
                />
                <source
                  srcset="./img/gallerypics/galpics_upd/desk8.png"
                  media="(min-width: 1200px)"
                />
                <img
                  src="./img/gallerypics/galpics_upd/mob8.png"
                  alt="Image 8"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./img/gallerypics/galpics_upd/mob9.png"
                  width="182px"
                  media="(min-width: 320px)"
                />
                <source
                  srcset="./img/gallerypics/galpics_upd/desk9.png"
                  media="(min-width: 1200px)"
                />
                <img
                  src="./img/gallerypics/galpics_upd/mob9.png"
                  alt="Image 9"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./img/gallerypics/galpics_upd/mob10.png"
                  width="182px"
                  media="(min-width: 320px)"
                />
                <source
                  srcset="./img/gallerypics/galpics_upd/desk10.png"
                  media="(min-width: 1200px)"
                />
                <img
                  src="./img/gallerypics/galpics_upd/mob10.png"
                  alt="Image 10"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./img/gallerypics/galpics_upd/mob11.png"
                  width="182px"
                  media="(min-width: 320px)"
                />
                <source
                  srcset="./img/gallerypics/galpics_upd/desk11.png"
                  media="(min-width: 1200px)"
                />
                <img
                  src="./img/gallerypics/galpics_upd/mob11.png"
                  alt="Image 11"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./img/gallerypics/galpics_upd/mob12.png"
                  width="182px"
                  media="(min-width: 320px)"
                />
                <source
                  srcset="./img/gallerypics/galpics_upd/desk12.png"
                  media="(min-width: 1200px)"
                />
                <img
                  src="./img/gallerypics/galpics_upd/mob12.png"
                  alt="Image 12"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./img/gallerypics/galpics_upd/mob13.png"
                  width="182px"
                  media="(min-width: 320px)"
                />
                <source
                  srcset="./img/gallerypics/galpics_upd/desk13.png"
                  media="(min-width: 1200px)"
                />
                <img
                  src="./img/gallerypics/galpics_upd/mob13.png"
                  alt="Image 13"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./img/gallerypics/galpics_upd/mob14.png"
                  width="182px"
                  media="(min-width: 320px)"
                />
                <source
                  srcset="./img/gallerypics/galpics_upd/desk14.png"
                  media="(min-width: 1200px)"
                />
                <img
                  src="./img/gallerypics/galpics_upd/mob14.png"
                  alt="Image 14"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./img/gallerypics/galpics_upd/mob15.png"
                  width="182px"
                  media="(min-width: 320px)"
                />
                <source
                  srcset="./img/gallerypics/galpics_upd/desk15.png"
                  media="(min-width: 1200px)"
                />
                <img
                  src="./img/gallerypics/galpics_upd/mob15.png"
                  alt="Image 15"
                />
              </picture>
            </div>
          </div>


          <div class="gallery-controls">
          <div class="swiper-button-gallery-prev">
            <img
              src="./img/gallerypics/arrowleft.png"
              alt="arrow-left"
              class="arrow-default"
            />
            <img
              src="./img/gallerypics/arrowleftgreen.png"
              alt="arrow-left"
              class="arrow-hover"
            />
          </div>

          <!-- Добавляем точки пагинации -->
          <div class="slider-dots-gallery">
            <div class="dot" data-index="0"></div>
            <div class="dot" data-index="1"></div>
            <div class="dot" data-index="2"></div>
            <div class="dot" data-index="3"></div>
            <div class="dot" data-index="4"></div>
          </div>

          <div class="swiper-button-gallery-next">
            <img
              src="./img/gallerypics/arrowright.png"
              alt="arrow-right"
              class="arrow-default"
            />
            <img
              src="./img/gallerypics/arrowrightпgreen.png"
              alt="arrow-right"
              class="arrow-hover"
            />
          </div>
        </div>

          <!-- <div class="slider-controls">
            <div class="swiper-button-prev">
              <img
                src="./img/gallerypics/arrowleft.png"
                alt="arrow-left"
                class="arrow-default"
              />
              <img
                src="./img/gallerypics/arrowleftgreen.png"
                alt="arrow-left"
                class="arrow-hover"
              />
            </div>

            <div class="progress-bar-custom">
              <div class="slider-dots">
                <div class="dot" data-index="0"></div>
                <div class="dot" data-index="1"></div>
                <div class="dot" data-index="2"></div>
                <div class="dot" data-index="3"></div>
                <div class="dot" data-index="4"></div>
              </div>
              <div class="red-dot-custom"></div>
            </div>

            <div class="swiper-button-next">
              <img
                src="./img/gallerypics/arrowright.png"
                alt="arrow-right"
                class="arrow-default"
              />
              <img
                src="./img/gallerypics/arrowrightпgreen.png"
                alt="arrow-right"
                class="arrow-hover"
              />
            </div>
          </div>
        </div> -->

        <script type="module" src="./js/galler.js"></script>
      </div>
    </div>
  </div>
</section>
