<link rel="stylesheet" href="./scss/gallery.scss" />

<section class="gallery container">
  <h2 class="lePeek">Gallery</h2>
  <div class="swiper gallery-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/gallerypics/galpic1.png" width="194px" media="(min-width: 320px)" />
          <source srcset="./img/gallerypics/desk/galpicdesk1.png" width="250px" media="(min-width: 1200px)" />
          <img
            src="./img/gallerypics/galpic1.png"
            alt="Image 1"
            width="194px"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/gallerypics/galpic2.png" width="194px" media="(min-width: 320px)" />
          <source srcset="./img/gallerypics/desk/galpicdesk2.png" width="250px" media="(min-width: 1200px)" />
          <img
            src="./img/gallerypics/galpic2.png"
            alt="Image 2"
            width="194px"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/gallerypics/galpic3.png" width="194px" media="(min-width: 320px)" />
          <source srcset="./img/gallerypics/desk/galpicdesk3.png" width="250px" media="(min-width: 1200px)" />
          <img src="./img/gallerypics/galpic3.png" alt="Image 3" width="194px"
        /></picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/gallerypics/galpic4.png" width="194px" media="(min-width: 320px)" />
          <source srcset="./img/gallerypics/desk/galpicdesk4.png" width="250px" media="(min-width: 1200px)" />
          <img src="./img/gallerypics/galpic4.png" alt="Image 4" width="194px"
        /></picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/gallerypics/galpic5.png" width="194px" media="(min-width: 320px)" />
          <source srcset="./img/gallerypics/desk/galpicdesk5.png" width="250px" media="(min-width: 1200px)" />
          <img src="./img/gallerypics/galpic5.png" alt="Image 5" width="194px">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/gallerypics/galpic6.png" width="194px" media="(min-width: 320px)" />
          <source srcset="./img/gallerypics/desk/galpicdesk6.png" width="250px" media="(min-width: 1200px)" />
          <img src="./img/gallerypics/galpic6.png" alt="Image 6" width="194px">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/gallerypics/galpic7.png" width="194px" media="(min-width: 320px)" />
          <source srcset="./img/gallerypics/desk/galpicdesk7.png" width="250px" media="(min-width: 1200px)" />
          <img src="./img/gallerypics/galpic7.png" alt="Image 7" width="194px">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/gallerypics/galpic8.png" width="194px" media="(min-width: 320px)" />
          <source srcset="./img/gallerypics/desk/galpicdesk8.png" width="250px" media="(min-width: 1200px)" />
          <img src="./img/gallerypics/galpic8.png" alt="Image 8" width="194px">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/gallerypics/galpic9.png" width="194px" media="(min-width: 320px)" />
          <source srcset="./img/gallerypics/desk/galpicdesk9.png" width="250px" media="(min-width: 1200px)" />
          <img src="./img/gallerypics/galpic9.png" alt="Image 9" width="194px">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/gallerypics/galpic10.png" width="194px" media="(min-width: 320px)" />
          <source srcset="./img/gallerypics/desk/galpicdesk10.png" width="250px" media="(min-width: 1200px)" />
          <img src="./img/gallerypics/galpic10.png" alt="Image 10" width="194px">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/gallerypics/galpic11.png" width="194px" media="(min-width: 320px)" />
          <source srcset="./img/gallerypics/desk/galpicdesk11.png" width="250px" media="(min-width: 1200px)" />
          <img src="./img/gallerypics/galpic11.png" alt="Image 11" width="194px">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/gallerypics/galpic12.png" width="194px" media="(min-width: 320px)" />
          <source srcset="./img/gallerypics/desk/galpicdesk12.png" width="250px" media="(min-width: 1200px)" />
          <img src="./img/gallerypics/galpic12.png" alt="Image 12" width="194px">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/gallerypics/galpic13.png" width="194px" media="(min-width: 320px)" />
          <source srcset="./img/gallerypics/desk/galpicdesk13.png" width="250px" media="(min-width: 1200px)" />
          <img src="./img/gallerypics/galpic13.png" alt="Image 13" width="194px">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/gallerypics/galpic14.png" width="194px" media="(min-width: 320px)" />
          <source srcset="./img/gallerypics/desk/galpicdesk14.png" width="250px" media="(min-width: 1200px)" />
          <img src="./img/gallerypics/galpic14.png" alt="Image 14" width="194px">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/gallerypics/galpic15.png" width="194px" media="(min-width: 320px)" />
          <source srcset="./img/gallerypics/desk/galpicdesk15.png" width="250px" media="(min-width: 1200px)" />
          <img src="./img/gallerypics/galpic15.png" alt="Image 15" width="194px">
        </picture>
      </div>
    </div>
  </div>
  <div class="slider-controls">
    <div class="swiper-button-prev">
      <img
        src="./img/gallerypics/arrowleft.png"
        alt="arrow-left"
        class="arrow-default"
      />
      <img
        src="./img/gallerypics/arrowleftgreen.png"
        alt="arrow-left"
        class="arrow-hover"
      />
    </div>

    <div class="custom-pagination-bar">
      <div class="custom-pagination"></div>
      <div class="progress-bar-custom">
        <div class="red-dot-custom"></div>
      </div>
    </div>

    <div class="swiper-button-next">
      <img
        src="./img/gallerypics/arrowright.png"
        alt="arrow-right"
        class="arrow-default"
      />
      <img
        src="./img/gallerypics/arrowrightпgreen.png"
        alt="arrow-right"
        class="arrow-hover"
      />
    </div>
  </div>
  <script type="module" src="./js/galler.js"></script>
</section>
