<section class="container">
  <header class="header">
    <div class="header-container">
      <img class="logo-header" src="#" alt="logo" />
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item"><a href="#"></a>Home</li>
          <li class="nav-item"><a href="#"></a>Advantages</li>
          <li class="nav-item"><a href="#"></a>Benefits</li>
          <li class="nav-item"><a href="#"></a>Reviews</li>
          <li class="nav-item"><a href="#"></a>About Us</li>
          <li class="nav-item"><a href="#"></a>Gallery</li>
        </ul>
      </nav>
      <button type="button" class="menu-btn js-open-menu">
        <svg class="icon-menu" width="40" height="40">
          <use href="./img/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </div>

    <!-----Mobile menu------>
    <div class="mobile-menu js-menu-container">
      <div class="wrap">
        <button type="button" class="modal-close-btn js-close-menu">
          <svg class="modal-icon" width="34" height="34">
            <use href="./img/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
        <ul class="mob-nav-menu">
          <li><a href="#" class="mob-nav-menu-item">Home</a></li>
          <li><a href="#" class="mob-nav-menu-item">Advantages</a></li>
          <li><a href="#" class="mob-nav-menu-item">Benefits</a></li>
          <li><a href="#" class="mob-nav-menu-item">Revievs</a></li>
          <li><a href="#" class="mob-nav-menu-item">About Us</a></li>
          <li><a href="#" class="mob-nav-menu-item">Gallery</a></li>
        </ul>
        <img src="./img/mobile/icon edt 2.png" class="wrap-image" />
      </div>
    </div>
  </header>
</section>
