<section class="header">
  <header class="container">
    <div class="header-container">
      <img
        class="logo-header"
        src="./img/mobile/dsk/faviconsmall.png"
        alt="logo"
      />
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#advantages">Advantages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#benefits">Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#reviews">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#gallery">Gallery</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="menu-btn js-open-menu">
        <svg class="icon-menu" width="24" height="24">
          <use href="/img/mobile/sprite.svg#icon-icon"></use>
        </svg>
      </button>
    </div>

    <!-----Mobile menu------>
    <div class="mobile-menu js-menu-container">
      <div class="wrap">
        <button type="button" class="modal-close-btn js-close-menu">
          <svg class="modal-icon" width="14" height="14">
            <use href="/img/mobile/sprite.svg#icon-iconX"></use>
          </svg>
        </button>
        <ul class="mob-nav-menu">
          <li><a href="#" class="mob-nav-menu-item">Home</a></li>
          <li>
            <a href="#advantages" class="mob-nav-menu-item">Advantages</a>
          </li>
          <li><a href="#benefits" class="mob-nav-menu-item">Benefits</a></li>
          <li><a href="#reviews" class="mob-nav-menu-item">Reviews</a></li>
          <li><a href="#aboutus" class="mob-nav-menu-item">About Us</a></li>
          <li><a href="#gallery" class="mob-nav-menu-item">Gallery</a></li>
        </ul>
        <img src="./img/mobile/icon edt 2.png" class="wrap-image" />
      </div>
    </div>
  </header>
</section>
