<section class="hero container">
  <div class="container">
    <div class="hero-content">
    <picture>
      <source media="(max-width: 1190px)" srcset="./img/mobile/SuperPugStory.png">
        <source media="(min-width: 1200px)" srcset="./img/mobile/dsk/SuperPugStory.png">
        <img src="./img/mobile/SuperPugStory.png" alt="heroimgt">
    </picture>
    <!---<picture>
      <source media="(max-width: 1190px)" srcset="./img/mobile/heropicmob.png">
        <source media="(min-width: 1200px)" srcset="./img/mobile/dsk/heropic.png">
         <img src="./img/mobile/hero pic mob.png" alt="heroimgt">
    <picture>--->
      <picture>
      <source media="(max-width: 1190px)" srcset="./img/mobile/JointheHeroicPug.png">
        <source media="(min-width: 1200px)" srcset="./img/mobile/dsk/JointheHeroicPug.png">
        <img src="./img/mobile/heroText.png" alt="heroimgt">
        </picture>
    <div class="download-btn">
      <a href="#" class="btn btn-primary">
        <picture>
          <source media="(max-width: 1190px)" srcset="./img/mobile/mobGoogleplay.png">
          <source media="(min-width: 1200px)" srcset="./img/mobile/dsk/google.png">
        <img src="./img/mobile/mobGoogleplay.png"/></a>
        </picture>
  </div>
  </div>
</section>
