<section class="hero container">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">Super Pug Story</h1>
      <img class="hero-img" src="./img/mobile/heropicmob.png" alt="heroimgt" />
      <p class="hero-subtitle">
        Join the Heroic Pug on an Epic Adventure, Solve Fun Puzzles, and Save
        the Day!
      </p>
      <div class="download-btn">
        <a
          href="https://play.google.com/store/apps/details?id=com.bluembo.superpug"
          class="btn btn-primary"
        >
          <picture>
            <source
              media="(max-width: 1190px)"
              srcset="./img/mobile/mobGoogleplay.png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="./img/mobile/dsk/google.png"
            />
            <img src="./img/mobile/mobGoogleplay.png" />
          </picture>
        </a>
      </div>
    </div>
  </div>
</section>
