

<section class="reviews container">
    <h2 class="leRainDrop">Reviews</h2>
    <ul class="reviews__list">
        <li class="reviews__item">
            <picture>
                <source srcset="./img/reviewsphoneswithpics/logo1.png" media="(min-width: 320px)">
                <source srcset="./img/reviewsphoneswithpics/logodesk.png" width="213px" height="226px" media="(min-width: 1200px)">
                <img class="reviews_img logo" src="./img/reviewsphoneswithpics/logo1.png" alt="Review 1"/>
            </picture>
        </li>
        <li class="reviews__item">
             <picture>
                <source srcset="./img/reviewsphoneswithpics/reviews1.png" media="(min-width: 320px)">
                <source srcset="./img/reviewsphoneswithpics/reviewsdsktp1.png" media="(min-width: 1200px)">
                <img class="reviews_img" src="./img/reviewsphoneswithpics/reviews1.png" alt="Review 1"/>
            </picture>
        </li>
        <li class="reviews__item">
             <picture>
                <source srcset="./img/reviewsphoneswithpics/mobreviews2.png"  media="(min-width: 320px)">
                <source srcset="./img/reviewsphoneswithpics/reviewsdsktp2.png" media="(min-width: 1200px)">
                <img class="reviews_img" src="./img/reviewsphoneswithpics/mobreviews2.png" alt="Review 1"/>
            </picture>
        </li>
        <li class="reviews__item">
              <picture>
                <source srcset="./img/reviewsphoneswithpics/mobreviews3.png" media="(min-width: 320px)">
                <source srcset="./img/reviewsphoneswithpics/reviewsdsktp3.png" media="(min-width: 1200px)">
                <img class="reviews_img" src="./img/reviewsphoneswithpics/mobreviews3.png" alt="Review 1"/>
            </picture>
        </li>
        <li class="reviews__item">
              <picture>
                <source srcset="./img/reviewsphoneswithpics/mobreviews4.png" media="(min-width: 320px)">
                <source srcset="./img/reviewsphoneswithpics/reviewsdsktp4.png" media="(min-width: 1200px)">
                <img class="reviews_img" src="./img/reviewsphoneswithpics/mobreviews4.png" alt="Review 1"/>
            </picture>
        </li>
        <li class="reviews__item">
              <picture>
                <source srcset="./img/reviewsphoneswithpics/mobreviews5.png" media="(min-width: 320px)">
                <source srcset="./img/reviewsphoneswithpics/reviewsdsktp5.png" media="(min-width: 1200px)">
                <img class="reviews_img" src="./img/reviewsphoneswithpics/mobreviews5.png" alt="Review 1"/>
            </picture>
        </li>
    </ul>
</section>