<section class="reviews">
  <div class="container">
    <div class="reviews-bg">

      <h2>Reviews</h2>
      <ul class="reviews__list">
        <li class="reviews__item">
          <picture>
            <source
              srcset="./img/reviewsphoneswithpics/logo1.png"
              width="136px"
              media="(min-width: 320px)"
            />
            <source
              srcset="./img/reviewsphoneswithpics/logo1.png"
              width="464px"
              media="(min-width: 1200px)"
            />
            <img
              class="reviews_img"
              src="./img/reviewsphoneswithpics/logo1.png"
              alt="Review 1"
              width="136px"
            />
          </picture>
        </li>
        <li class="reviews__item">
          <picture>
            <source
              srcset="./img/reviewsphoneswithpics/rev1mob.png"
              width="136px"
              media="(min-width: 320px)"
            />
            <source
              srcset="./img/reviewsphoneswithpics/rev1desk.png"
              width="464px"
              media="(min-width: 1200px)"
            />
            <img
              class="reviews_img"
              src="./img/reviewsphoneswithpics/rev1mob.png"
              alt="Review 1"
              width="136px"
            />
          </picture>
        </li>
        <li class="reviews__item">
          <picture>
            <source
              srcset="./img/reviewsphoneswithpics/rev2mob.png"
              width="136px"
              media="(min-width: 320px)"
            />
            <source
              srcset="./img/reviewsphoneswithpics/rev2desk.png"
              width="464px"
              media="(min-width: 1200px)"
            />
            <img
              class="reviews_img"
              src="./img/reviewsphoneswithpics/rev2mob.png"
              alt="Review 2"
              width="136px"
            />
          </picture>
        </li>
        <li class="reviews__item">
          <picture>
            <source
              srcset="./img/reviewsphoneswithpics/rev3mob.png"
              width="136px"
              media="(min-width: 320px)"
            />
            <source
              srcset="./img/reviewsphoneswithpics/rev3desk.png"
              width="464px"
              media="(min-width: 1200px)"
            />
            <img
              class="reviews_img"
              src="./img/reviewsphoneswithpics/rev3mob.png"
              alt="Review 3"
              width="136px"
            />
          </picture>
        </li>
        <li class="reviews__item">
          <picture>
            <source
              srcset="./img/reviewsphoneswithpics/rev4mob.png"
              width="136px"
              media="(min-width: 320px)"
            />
            <source
              srcset="./img/reviewsphoneswithpics/rev4desk.png"
              width="464px"
              media="(min-width: 1200px)"
            />
            <img
              class="reviews_img"
              src="./img/reviewsphoneswithpics/rev4mob.png"
              alt="Review 4"
              width="136px"
            />
          </picture>
        </li>
        <li class="reviews__item">
          <picture>
            <source
              srcset="./img/reviewsphoneswithpics/rev5mob.png"
              width="136px"
              media="(min-width: 320px)"
            />
            <source
              srcset="./img/reviewsphoneswithpics/rev5desk.png"
              width="464px"
              media="(min-width: 1200px)"
            />
            <img
              class="reviews_img"
              src="./img/reviewsphoneswithpics/rev5mob.png"
              alt="Review 5"
              width="136px"
            />
          </picture>
        </li>
      </ul>
     

    </div>
  </div>
</section>
