<link rel="stylesheet" href="./scss/reviews.scss" />

<section class="reviews container">
    <h2 class="leRainDrop">Reviews</h2>
    <ul class="reviews__list">
        <li class="reviews__item">
            <picture>
                <source srcset="../img/reviewsphoneswithpics/logo1.png" media="(width: 136px)">
                <source srcset="../img/reviewsphoneswithpics/logo1.png" media="(max-width: 464px)">
                <img class="reviews_img" src="../img/reviewsphoneswithpics/logo1.png" alt="Review 1" width="136px" />
            </picture>
        </li>
        <li class="reviews__item">
             <picture>
                            <source srcset="../img/reviewsphoneswithpics/reviews1.png" width="136px">
                <source srcset="../img/reviewsphoneswithpics/reviewsdsktp1.png" media="(max-width: 464px)">
                <img class="reviews_img" src="../img/reviewsphoneswithpics/reviews1.png" alt="Review 1" width="136px" />
            </picture>
        </li>
        <li class="reviews__item">
             <picture>
                <source srcset="../img/reviewsphoneswithpics/mobreviews2.png" width="136px">
                <source srcset="../img/reviewsphoneswithpics/reviewsdsktp2.png" media="(max-width: 464px)">
                <img class="reviews_img" src="../img/reviewsphoneswithpics/mobreviews2.png" alt="Review 1" width="136px" />
            </picture>
        </li>
        <li class="reviews__item">
              <picture>
                <source srcset="../img/reviewsphoneswithpics/mobreviews3.png" width="136px">
                <source srcset="../img/reviewsphoneswithpics/reviewsdsktp3.png" media="(max-width: 464px)">
                <img class="reviews_img" src="../img/reviewsphoneswithpics/mobreviews3.png" alt="Review 1" width="136px" />
            </picture>
        </li>
        <li class="reviews__item">
              <picture>
                <source srcset="../img/reviewsphoneswithpics/mobreviews4.png" width="136px">
                <source srcset="../img/reviewsphoneswithpics/reviewsdsktp4.png" media="(max-width: 464px)">
                <img class="reviews_img" src="../img/reviewsphoneswithpics/mobreviews4.png" alt="Review 1" width="136px" />
            </picture>
        </li>
        <li class="reviews__item">
              <picture>
                <source srcset="../img/reviewsphoneswithpics/mobreviews5.png" width="136px">
                <source srcset="../img/reviewsphoneswithpics/reviewsdsktp5.png" media="(max-width: 464px)">
                <img class="reviews_img" src="../img/reviewsphoneswithpics/mobreviews5.png" alt="Review 1" width="136px" />
            </picture>
        </li>
    </ul>
</section>