@import 'swiper/css';

/*.container {
  max-width: 320px;
  padding: 16px;
}*/

// .gallery {
//   background-image: url('../img/backgrouns/mobile/gallerybgmob.jpg');
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }
.gallery-bg {
  background: linear-gradient(90deg, #504ab6 30%, #5366df 70%);
}
.gallery-container {
  position: relative;
}

.swiper {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.swiper-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.swiper-slide {
  flex-shrink: 0;
  width: calc(33.33% - 20px);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 182px;
    height: auto;
  }
}

.gallery h2 {
  margin-bottom: 3rem;
  color: #ffd01e;
  font: 26px, 600;
  line-height: 1.14;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Baloo 2', sans-serif;
  // margin-top: 48px;
}

.lePeek {
  animation: lePeek 1s ease-in-out infinite;
}

@keyframes lePeek {
  25% {
    transform: rotateX(30deg) translateY(10px) rotate(-13deg);
  }
  50% {
    transform: translateY(-22px) rotate(3deg) scale(1.1);
  }
}

.gallery-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;

  .slider-dots-gallery {
    display: flex;
    gap: 2px;
    align-items: center;
    background-color: #ffd01e;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 280px;
    padding: 2px 8px;
    height: 8px;
    border-radius: 4px;

    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #ffd01e;
      cursor: pointer;
      transition: all 0.3s ease;

      &.active {
        width: 8px;
        background-color: #ff232a;
        transform: scale(1);
      }
    }

    @media screen and (min-width: 1200px) {
      background-color: transparent;
      max-width: none;
      padding: 0;
      gap: 8px;
      height: auto;
      border-radius: 0;

      .dot:nth-child(n + 6) {
        display: none;
      }

      .dot {
        width: 16px;
        height: 8px;
        border-radius: 4px;

        &.active {
          width: 48px;
        }
      }
    }
  }

  .swiper-button-gallery-prev,
  .swiper-button-gallery-next {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0;
    cursor: pointer;
    outline: none;

    &:focus {
      outline: none;
    }

    &::after {
      display: none;
    }

    .arrow-default {
      display: block;
    }

    .arrow-hover {
      display: none;
    }

    &:hover {
      .arrow-default {
        display: none;
      }
      .arrow-hover {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  // .gallery {
  //   background-image: url(./img/backgrouns/desktop/bgGallerydsktp.jpg),
  //     url('../img/backgrouns/desktop/starsgal.png');
  //   background-position: center, center;
  //   background-repeat: no-repeat, no-repeat;
  // }

  .swiper {
    width: 80%;
  }
  .img-bg {
    background-image: url('../img/mobile/dsk/gal1dsktp.png');
  }
  .gallery-bg {
    padding-bottom: 56px;
  }

  .progress-bar-custom {
    width: auto;
    height: auto;
    background: none;
    display: flex;
    gap: 8px;

    .slider-dots-gallery {
      background-color: transparent;
    }

    .slider-dots {
      display: flex;
      gap: 8px;
      align-items: center;

      .dot {
        width: 16px;
        height: 8px;
        border-radius: 4px;
        background-color: #ffd01e;
        cursor: pointer;
        transition: all 0.3s ease;

        &.active {
          width: 48px;
          background-color: #ff232a;
          transform: scale(1);
        }
      }
    }

    .red-dot-custom {
      display: none;
    }
    width: auto;
    height: auto;
    background: none;
    display: flex;
    gap: 8px;

    .slider-dots {
      display: flex;
      gap: 8px;
      align-items: center;

      .dot {
        width: 16px;
        height: 8px;
        border-radius: 4px;
        background-color: #ffd01e;
        cursor: pointer;
        transition: all 0.3s ease;

        &.active {
          width: 48px;
          background-color: #ff232a;
          transform: scale(1);
        }
      }
    }

    .red-dot-custom {
      display: none;
    }
  }

  .swiper-slide {
    margin-right: 10px;
  }

  .swiper-button-prev {
    margin-right: 15px;
  }
  .swiper-button-next {
    margin-left: 15px;
  }

  .gallery h2 {
    font-size: 32px;
    line-height: 48px;
    text-shadow: 1px 1px 2px rgba(15, 11, 89, 0.3);
  }

  .slider-controls {
    max-width: 200px;
    margin: 30px auto;
  }
}
