@import 'swiper/css';

/*.container {
  max-width: 320px;
  padding: 16px;
}*/

.gallery {
  background-image: url('../img/backgrouns/mobile/gallerybgmob.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-container {
  position: relative;
}

.swiper {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.swiper-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.swiper-slide {
  flex-shrink: 0;
  width: calc(33.33% - 20px);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}

.gallery h2 {
  margin-bottom: 3rem;
  color: #ffd01e;
  font: 26px, 600;
  line-height: 1.14;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 48px;
}

.lePeek {
  animation: lePeek 1s ease-in-out infinite;
}

@keyframes lePeek {
  25% {
    transform: rotateX(30deg) translateY(10px) rotate(-13deg);
  }
  50% {
    transform: translateY(-22px) rotate(3deg) scale(1.1);
  }
}

.slider-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 8px 16px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }

  &::after {
    display: none;
  }

  img {
    user-select: none;
    -webkit-user-select: none;
  }

  .arrow-default {
    display: block;
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  .arrow-hover {
    display: none;
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  &:hover {
    .arrow-default {
      display: none;
    }

    .arrow-hover {
      display: block;
    }
  }
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination {
  width: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.pagination-dot {
  width: 8px;
  height: 8px;
  background-color: #ffd01e;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;

  &.active {
    width: 32px;

    background-color: #ff232a;
    border-radius: 25px;
  }
}

.progress-bar-custom {
  position: relative;
  width: 96px;
  height: 6px;
  background-color: #ffd01e;
  border-radius: 3px;
  overflow: hidden;
  margin: 0;
}

.red-dot-custom {
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: #ff232a;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.3s ease;
}

@media screen and (min-width: 1200px) {
  .gallery {
    background-image: url(./img/backgrouns/desktop/bgGallerydsktp.jpg),
      url('../img/backgrouns/desktop/starsgal.png');
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
  }

  .swiper {
    width: 70%;
  }

  .progress-bar-custom {
    margin: 0 4px;
    width: 144px;
  }

  .swiper-slide {
    margin-right: 113px; // Установите расстояние между слайдами
  }

  .swiper-button-prev {
    margin-left: 450px;
  }
  .swiper-button-next {
    margin-right: 450px;
  }
}
