html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  scroll-timeline: --page-scroll block;
  animation: smoothScroll 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

@keyframes smoothScroll {
  from {
    scroll-behavior: auto;
  }
  to {
    scroll-behavior: smooth;
  }
}

h2 {
  padding-top: 48px;
}
.container {
  width: 320px;
  margin: 0 auto;
  padding: 16px auto;
}

@media screen and (min-width: 1200px) {
  h2 {
    padding-top: 56px;
  }
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
  }
}
