@import './header.scss';
@import './vite-promo.scss';
@import './global.css';
@import './hero.css';
@import './about.scss';
@import './advantages.scss';
@import './benefits.scss';
@import './reviews.scss';
@import './gallery.scss';
@import './footer.css';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background: linear-gradient(90deg, #504ab6 30%, #5366df 70%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
